BASIC_AUTH_USERNAME: "{{ rmq_auth_usernmae }}"
BASIC_AUTH_PASSWORD: "{{ rmq_auth_password }}"

APP:
    ENV: "{{ rmq_config_app_env }}"
    APP_LOG_DIR: {{ rmq_config_app_log_dir }}
    APP_LOG_NAME: "{{ rmq_config_app_log_file }}"
    SSL_CONTEXT: False

LOG_FILES:
  CONSUMER: {{ rmq_log_file_consumer }}
  FRONTEND: {{ rmq_log_file_frontend }}
  LOGGER: {{ rmq_log_file_logger }}

MONGO:
  URI: {{ rmq_mongo_connection_url }}

CONSUMER:
    CWD: "{{ rmq_config_app_run_directory }}"
    COMMAND: "{{ rmq_config_app_run_command }}"
    RETRY:
        MAX_RETRY: {{ rmq_config_retry }}
        RETRY_DELAY: {{ rmq_config_retry_delay }}
        RETRY_BACKOFF_FACTOR: {{ rmq_config_retry_backoff_factor }}

REAL_TIME_LOGGER:
  SOCKET_URL: {{ rmq_logger_socket_url }}  

NOTIFICATION:
  SUBJECT: "{{ rmq_notif_subject }}"
  LOG_NUM_LINES: {{ rmq_notif_log_lines }}
  SENDGRID:
    API_KEY: "{{ rmq_notif_sendgrid_key }}"
    FROM: "{{ rmq_notif_sendgrid_from }}"
    TO: "{{ rmq_notif_sendgrid_to }}"
  DISCORD:
    WEBHOOK_URL: "{{ rmq_notif_discord_url }}"

RMQ:
    ERRORS_THRESHOLD_LIMIT: {{ rmq_config_errors_threshold_lmit }}
    SERVER: "{{ rmq_config_server }}"
    USER: "{{ rmq_config_user }}"
    PASS: "{{ rmq_config_pass }}"
    PORT: {{ rmq_config_port }}
    EXCHANGE:
        NAME: "{{ rmq_config_exchange_name }}"
        TYPE: "{{ rmq_config_exchange_type }}"
    QUEUE: "{{ rmq_config_queue }}"
    AUTO_DELETE: {{ rmq_config_queue_auto_delete }}
    TIMEOUT: {{ rmq_config_timeout }}
    HEARTBEAT: {{ rmq_config_heartbeat }}
    JOBS_LIMIT: {{ rmq_config_jobs_limit }}
    {% if rmq_config_routing_keys|length > 1 -%}
    ROUTING_KEYS:
    {%- for rk in rmq_config_routing_keys %}   
        - {{ rk }} 
    {% endfor %}
    {% else -%}
    ROUTING_KEYS: []
    {% endif %}
